/* my first css */ 
header{
    margin: 5%;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}
.box1{
    border: 0.5rem;
    margin-top: 1rem;
    border-color: rebeccapurple;
    border-radius: 1rem;
    background-color: lightblue;
    padding: 1rem;
}
.box2{
    margin: 5rem;
    border: 2rem solid orange;
    border-radius: 0rem;
    margin-top: 0.5rem;
    background-color: teal;
    padding: 2rem;
}
img {
    border: 10px solid green;
}
h1 {
    border: 5px dotted red;
    color: white;
    background-color: black;
}
h2, h3, .bigbold {
    color: #063A4E;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
cite{
    font-size: 1.5rem;
}
.center {
    text-align: center;
}
.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}
ul a:link{
    font-weight: bold;
    text-decoration: none;
    color: brown;
    font-size: 2rem;
}
a:visited{
    color: green;
    font-weight: normal;
}
a:hover{
    color: orange;
    text-decoration: underline;
    background-color: black;
}
a.harvar:link{
    color: blueviolet;
    text-decoration: underline;
    background-color: black;
}
a.harvar:hover{
    color: lightblue;
    text-decoration: underline;
    background-color: black;
}

#introId{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: peru;
    font-size: 1.5rem;
}
nav ul{
    padding: 0;
    border: solid hotpink;
    background-color: rosybrown;
    text-align: center;
}
nav ul li{
    text-align: center;
    margin: 0;
    padding: 1.5rem;
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}
nav ul li a:hover{
    color: white;
    background-color: black;
}
nav ul li a:link{
    color: blueviolet;
    background-color: pink;
}
nav ul li a:visited{
    color: blue;
    background-color: pink;
}
.floatLeft{
    float: left;
    margin: 0 1rem 1rem 0;
}
.floatRight{
    float: right;
}
.floatCenter{
    float: center;
}

ul{
    flex-flow: column;
}






